{% extends 'list/base.html' %}

{%  block content %}

<div class="col-md-12 member-board">
    <span><strong>{{board.title}}</strong></span>
    <!-- <span>Members:</span> -->
    <!-- {% for member in members %}
        <span>{{member.members}}, </span>
        <h2> {{member.members.user.profile.bio}} </h2>
    {% endfor %} -->
    <div>
        <form action="{% url 'add_member' board.id %}" method="post" class="add-member form-inline">{% csrf_token %}
            <input type="email" name="email" class="form-control mb-2 mr-sm-2 test" placeholder="Add members..">
            <button type="submit" class="btn btn-primary mb-2">Invite</button>
        </form>
    </div>
</div>

<div class="col-md-12">
    <div id="lists" class="lists card-deck card-deck-list" data-board="{{ board.id }}">
        <!-- data goes here -->
    </div>
    <div class="subcard">
    
        <div class="addlistbtn">
            <div class="addhdn">
                <form action="{% url 'detail' board.id %}" method="POST" id="addlistform">
                    <span data-container="body"></span>
                    {% csrf_token %}
                    {{ form.title }}
                    <br>
                    <button type="submit" class="btn btn-success btn-card btn-block">Add List</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
