
{% for list in blists %}

<div class="card card-list list-container" data-list-id="{{ list.id }}">

    <span class="list-title" contenteditable="true" data-url="{% url 'list_update' list.id%}" csrf="{{ csrf_token }}" data-title="{{list.title}}">{{ list.title }}</span>

    <div class="card-wrapper connectedSortable" data-list-id="{{ list.id }}">
        <!-- dump cards -->
    </div>
    <div class="dropdown">
        <button class="btn btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="delbtn dropdown-item" data-id="{{list.id}}" data-url="{% url 'list_delete' list_id=list.id %}">
                Archive This List
            </a>
        </div>
      </div>
    <div class="form-base">
        <div class="form-wrapper">
            <form action="{% url 'addcard' list_id=list.id %}" class="card-form" method="POST">
                {% csrf_token %}
                <div class="card-btn-wrapper">
                    {{add_card_form.title}}
                    <button type="submit" class="btn btn-success">Add Card</button>
                    <!-- <a href=""><span class="ui-icon ui-icon-closethick"></span></a> -->
                </div>
            </form>
        </div>
    </div>
</div>

{% endfor %}

<script>

    autosize($('textarea'));

    var test = $(".connectedSortable" ).sortable({
        connectWith: ".connectedSortable",
        receive:function(event, ui){

            var elem = event.target;
            var id = ui.item.find('.class-card').data('id');
            var new_id = $(elem).data('list-id');
            var url = `/card/${id}/pos/`;
            var csrf = $(elem).siblings('.list-title').attr('csrf');
            console.log(url);
            
            // var targetList = $(this);
            // var targetElem = $(targetList[0]);
            // console.log(targetElem.data('list-id'));
            
            $.ajax({
                url:url,
                method: 'post',
                data: {'board': new_id, 'csrfmiddlewaretoken': csrf}
            }).done(function(){
                
            })
        }
    })


    // $('#blah').on('click',function(){
    //     var elem = $(this);
    //     elem.next().toggleClass('form-card-show');
    //     $('textarea').focus();
    //     elem.hide();
    // })
</script>