<div class="modal-content">
    <div class="container">
        <div class="modal-myheader">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
            <div class="modal-title-wrapper">
                <span class="modal-title">{{card.title}}</span> <br>
                <span class="modal-frm"> in list {{ card.board }}</span>
            </div>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row" style="width: 100%;">
                    <div class="col-md-12">
                        <div class="modal-body" style="width: 100%;">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                            <div class="modal-des-wrapper">
                                <span class="modal-des-title"> <strong> Description</strong></span><br>
                                <span class="modal-des">{{card.description}}</span>
                                <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Button with data-target</button>

                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body des-wrapper">
                                        <textarea class="card-des-textarea" rows="3" data-card="{{card.id}}" data-url="{% url 'card_des' card.id %}" placeholder="Add a more detailed description">{{card.description}}</textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        
                        <div class="container-fluid open-image">
                            <div class="row">
                                <div class="col-md-4 card-image">
                                    {% if card.image %}
                                    <img src="{{ card.image.url}}" style="width: 100%;" alt="">
                                    {% endif %}
                                </div>
                                <div class="col-md-8 card-info">
                                    {% if card.image %}
                                    <span><strong>{{ card.card_image_name }}</strong></span>
                                    <span>{{ card.date_created }}</span>
                                    <!-- <span><i class="fa fa-card"></i><a href="" class="btn btn-outline-info btn-sm">Remove Cover</a></span> -->
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-12">
                        <div class="modal-myheader">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            <div class=" user-post-image"></div>
                            <div class="modal-des-wrapper">
                                <p> <strong> Activity</strong></p>
                                <form action="{% url 'post_comment' card.id %}" method="post" class="post-form">{% csrf_token %}
                                    <textarea name="comment" placeholder="Write a comment.."></textarea>
                                    <button type="submit" class="btn btn-success btn-sm float-right">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="comment-wrapper">
                        <div class="col-md-12">
                            <div class="modal-myheader commend">
                                {% for comment in comment_lists %}
                                <div class="single-user">
                                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                    <div class="modal-des-wrapper">
                                        <p class="name-post"><strong>{{ comment.user }}</strong> <span class="time-elapse">{{ comment.date_created|timesince }}</span></p>
                                        <p class="comment-post">{{ comment.comment}}</p>
                                        <span class="comment-del"><a href="{% url 'comment_delete' comment.id %}">Delete</a></span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-md-3">
                <div class="container sidebar">
                    <p>Add to Card</p>
                    <button type="button" class="btn btn-secondary btn-sm btn-block"> <i class="fa fa-user"></i> Members</button>    
                    <button type="button" class="btn btn-secondary btn-sm btn-block"> <i class="fa fa-tag"></i> Labels</button>    
                    <button type="button" class="btn btn-secondary btn-sm btn-block"> <i class="fa fa-check-square-o"></i> Checklist</button>    
                    <button type="button" class="btn btn-secondary btn-sm btn-block"> <i class="fa fa-clock-o"></i> Due Date</button>  
                    <div class="fake-wrapper" style="position: relative;">
                        <button type="button" class="btn btn-secondary btn-sm btn-block fakebtn"> <i class="fa fa-paperclip"></i> Attachment</button>   
                        <form class="attach" action="{% url 'card_upload' card.id %}" method="POST" name="file" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input class="master-input" type="file" name="file" onchange="submitFunc()">
                        </form> 
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>





<script>autosize($('textarea'));
function submitFunc(){

    var $form = $('.attach');
    var test = $('.master-input')[0];
    $form.submit;
    var url = $form.attr('action');
    $.ajax({
        url: url,
        method: 'post',
        processData: false,
        contentType: false,
        enctype: 'multipart/form-data',
        data: new FormData($form[0]),
    }).done(function(res){
        console.log("From sever:", res);
        // console.log(res)

        var image = `<img src="${res.image_url}" style="width:100%;"></img>`;
        var info =  `<span><strong>${ res.image_name }</strong></span>
                    <span>${ res.date_created }</span>
                    <span><i class="fa fa-card"></i><a href="" class="btn btn-outline-info btn-sm">Remove Cover</a></span>`
        $('.card-image').append(image);
        $('.card-info').append(info);

    })
}

</script>