<div class="modal-content">
    <div class="modal-myheader">
        <i class="fa fa-credit-card" aria-hidden="true"></i>
        <div class="modal-title-wrapper">
            <span class="modal-title">{{card.title}}</span> <br>
            <span class="modal-frm"> in list {{ card.board }}</span>
        </div>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    </div>
    <div class="modal-body">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <div class="modal-des-wrapper">
            <span class="modal-des-title">Description</span>
            <span class="modal-des">{{card.description}}</span>
            
        </div>
    </div>
</div>