.row > div[class*='col-'] {
    display: flex;
    flex:1 0 auto;
  }
  .card-header{
    height: 9em;
  }
  .card-deck .card{
    margin-left: 5px;
    margin-right: 5px;
  }
  a{
    text-decoration: none !important;
  }
  .card{
    border: none;
  }
  .card-body{
    padding: 0.35rem;
  }
  .card-list{
    background-color: #ebecf0;
    min-width: 15rem;
    max-width: 15rem;
  }
  .card-list a, .card-list textarea{
    color: inherit;
    display: block;
    padding: 4.9px 6px;
    border-radius: 2px;
    background-color: #fff;
    margin: 9px 0;
    box-shadow: 0px 0.3px 0px #151515;
    font-size: 14px;
  }
  .contenteditable-hd, .contenteditable-ft{
    border-bottom: none;
    border-top: none;
  }
  .add-list{
    width: 200px;
    color: #fff;
    background-color: #d3d3d3a1;
    padding: 18px 10px;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #c1c1c1d1;
  }
  .add-list:focus{
    outline: none;
  }

  .addlistbtn{
    height: auto;
  }
  .addhdn .btn, .addhdn input{
    margin: 8px 0;
  }
  .addhdn input{
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    padding: 10px;
  }
  .subcard{
    padding: 0.35rem;
    background-color: #ebecf0;
    margin: 0 20px;
  }
  .subcard form input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #00000026;
    height: 54px;
    margin: 2px 0 10px;
    padding: 10px;
  }

  .lists {
    display: flex;
  }
  .list-container {
    width: 200px;
    min-height: 300px;
    margin: 0 20px 0 0;
    padding: 8px 10px;
  }
  .list-container p{
    display: inline-block;
    width: 100%;
  }